<app-header></app-header>

<div class="wrap">
<!--Side Bar-->
  <app-component-library></app-component-library>

  <!-- Panel -->
  <!-- <div #panelRef class="panel" [ngStyle]="panelStyle()" (mousedown)="onPanelClick()"> -->
  <div #panelRef class="panel no-select" (mousedown)="onPanelClick() ">
    <!-- <img src="assets/cabinet.png"> -->
    <div class="grid"></div> <!--background grid like -->

    <!--<svg class="wires" - creates an SVG drawing surface on top of your panel where all wires are drawn.-->
    <svg class="wires"
      [attr.width]="'100%'"
      [attr.height]="panelHeight()"
      [style.pointer-events]="locked() ? 'none' : 'auto'">
      <!--if locked() is true then → SVG wires will NOT react to mouse clicks or drags as it is set to none 
      Below c is for connections and visible connections  returns all current connectioins-->
      <ng-container *ngFor="let c of visibleConnections()">
        <polyline
          [attr.points]="getPolylinePoints(c)"
          [attr.stroke]="c.color"
          fill="none"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          [attr.pointer-events]="'visibleStroke'"
          (dblclick)="onDeleteConnection(c.id, $event)"
          (click)="onSelectConnection(c, $event)"
          (mousedown)="onWireMouseDown(c, $event)"
          class="wire-item"
        />
      </ng-container>
    </svg>
    
    <!-- Rails (0-height lines) -->
    <div
      class="rail"
      *ngFor="let r of railsTop(); index as i"
      [ngStyle]="railStyle(i)"
      [class.highlight]="hoverRailIndex() === i && isDragging()"
  
    >
    
    @if(i== railsTop().length-1){
      <img src="assets/DIN-Rail-Used-2.png" class="rail-image" style="width: 970px;height: 220px; opacity: 0.1;" >
    }
    @else {
      <img src="assets/DIN-Rail-Used-2.png" class="rail-image" style="width: 970px;height: 220px;" >
    }
    <!-- <img src="assets/DIN-Rail-Used-2.png" class="rail-image" style="width: 970px;height: 220px;" >  -->
          
      <!--width: 702px; scale-factor : 3-->
      <!-- <div class="rail-title">Rail {{ i + 1 }}</div> -->

        <!-- Drop preview (if you kept it) -->
        <div
          class="drop-preview"
          *ngIf="preview() && preview()!.railIndex === i"
          [style.left.px]="preview()!.x"
          [style.top.px]="-preview()!.h/2"
          [style.width.px]="preview()!.w"
          [style.height.px]="preview()!.h"
          >
          <img [src]="preview()?.images" style="width: 100%; height: 100%;"  class="box-shadow">
        </div>

        <!-- Parts on this rail -->
         <!--incorrect comments-->
        <ng-container *ngFor="let p of parts()">
            <div
                *ngIf="p.railIndex === i"
                class="part"
                [class.locked]="locked()"
                [class.dragging]="draggingPartId() === p.id && isDragging() && !locked()"
                [class.delete]="deletingPartId() == p.id && isDeleted() && !locked()"
                [style.left.px]="p.x"
                [style.top.px]="-p.h/2"  
                [style.width.px]="p.w"
                [style.height.px]="p.h"
                [title]="p.label + ' '+ p.volt  +' ('+p.w+'x'+p.h+')'"
                (mousedown)="onPartMouseDown($event, p.id,p.isFixed)"
                (click)="locked() || p.isFixed  ?'': onClickDelete(p.id,$event)"
               
              >
                <!-- <div class="part-label">{{ p.label }}</div> -->
              <img [src]="p.imagePath" style="width: 100%; height: 100%;"  [class.boxShadow]="p.id != draggingPartId() && deletingPartId() != p.id ">

              @if(p.phasePositionBottom){
               <span class="phaseFromBottom">{{p.phasePositionBottom}}</span> 
              }
              @if(p.phasePositionTop){
               <span class="phaseFromTop">{{p.phasePositionTop}}</span> 
              }
                <!-- Connectors (visible only when locked) -->
                <button
                  *ngIf="showConnectors()"
                  [class]="selectedPart()?.id === p.id && selectedPart()?.port === 'top' ? 'selected-connector' : p.disabled ? 'rule-connector':'connector'"
                  [ngStyle]="connectorStyle(p, 'top')"
                  (mousedown)="$event.stopPropagation()"
                  (click)="onClickConnector(p.id, 'top')"
                  title="Top connector"
                  [disabled]="p.disabled"
                ></button>

                @if(!p.isFixed){
                  <button
                    *ngIf="showConnectors()"
                    [class]="selectedPart()?.id === p.id && selectedPart()?.port === 'bottom' ? 'selected-connector' : p.disabled ? 'rule-connector':'connector'"
                    [ngStyle]="connectorStyle(p, 'bottom')"
                    (mousedown)="$event.stopPropagation()"
                    (click)="onClickConnector(p.id, 'bottom')"
                    title="Bottom connector"
                    [disabled]="p.disabled"
                  ></button>
                }
                
            </div>
           
          </ng-container>
        </div>

        <!-- <div 
        [ngStyle]="externalSourceStyle()" 
        class="externalSource"
        style="background-color: red;">
          <img src="../../assets/AS-1P+N-10A.png" height="130px" width="80" title="externalSupplyBox">
          <button
                  *ngIf="showConnectors()"
                  [class]="'connector'"
                  [ngStyle]="connectorStyle(test()!, 'top')"
                  (mousedown)="$event.stopPropagation()"
                  (click)="onClickConnector(test()!.id, 'top')"
                  title="Top connector"
                ></button>

                <button
                  *ngIf="showConnectors()"
                  [class]="'connector'"
                  [ngStyle]="connectorStyle(test()!, 'bottom')"
                  (mousedown)="$event.stopPropagation()"
                  (click)="onClickConnector(test()!.id, 'bottom')"
                  title="Bottom connector"
          
                ></button>

        </div> -->
  </div>

  <app-panel-controls></app-panel-controls>

</div>












