.wrap {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
}


.toolbox {

  // position: sticky;
  // top: 20px;
  border: 1px solid #e5e7eb;
  //border-radius: 14px;
  padding: 12px;
  //background: linear-gradient(180deg, #ffffff, #fafafa);
  //box-shadow: 0 4px 14px rgb(0 0 0 / 0.04);
  /* NEW: define a sensible max height and make inner list scroll */
  max-height: calc(100vh - 130px);
  /* keeps within viewport */
  display: flex;
  flex-direction: column;
  padding-left: 18px;

}


.toolbox.disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* Keep the title visible while scrolling */
.tool-title {

  font-size: 18px;
  font-weight: 700;
  //margin-bottom: 10px;
  letter-spacing: .2px;
  // position: sticky;
  // top: 0;
  margin-top: 10px;
  // padding-bottom: 10px;
  // z-index: 1;
  text-align: start;
}

.hint {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
  color: grey;
  font-size: 14px;
}

/* NEW: scrollable area for tools */
.toolbox-body {
  margin-top: 15px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .25) transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* room for scrollbar */
  /* Optional: a soft fade at the bottom/top can be added with :before/:after if desired */

  .tool-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 9px;
    margin-right: 8px;
    padding: 8px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 16px;
    cursor: grab;
  }

  .img-desc {

    h6 {
      font-size: 11px;
      display: flex;
      text-overflow: ellipsis;
      overflow-wrap: anywhere;
    }

    P {
      font-size: 11px;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    p {
      color: grey;
    }

    .desc-container {
      display: flex;
      flex-direction: column;

    }
  }

  .tool-container:hover {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 0 6px 6px rgb(0 0 0 /0.1);
    transform: translateY(1px);

  }
}


/* Optional: nicer scrollbars (WebKit/Chromium) */
.toolbox-body::-webkit-scrollbar {
  width: 10px;
}

.toolbox-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .15);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.toolbox-body::-webkit-scrollbar-track {
  background: transparent;
}


.tool {
  user-select: none;
  -webkit-user-drag: none;
  height: max-content;
  //border: 1px solid #e5e7eb;
  //border-radius: 12px;
  // padding: 8px 10px;
  // margin-bottom: 15px;
  cursor: grab;
  transition: transform .12s ease, box-shadow .2s ease, border-color .2s ease, background .2s ease;
  // display:  flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  // border: 2px solid red;

}

.tool:hover {
  transform: translateY(-1px);
  //box-shadow: 0 6px 20px rgb(0 0 0 / 0.06);
  //box-shadow: 0 6px 20px rgb(0 0 0 /0.2);
  //border-color: #d1d5db;
  background: transparent;
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
  /* gray-300 */
}

.tool:active {
  cursor: grabbing;
}

.tool-icon {
  font-weight: 700;
  color: #111827;
  /* gray-900 */
}

.tool-meta {
  font-size: 11px;
  color: #6b7280;
  /* gray-500 */
  background: #f3f4f6;
  padding: 2px 6px;
  border-radius: 999px;
}


/* Panel & rails */
.panel {
  position: relative;
  // border: 1px solid #e5e7eb;
  background: #fff;
  overflow: auto;
  min-height: 300px;
  box-shadow: 0 6px 24px rgb(0 0 0 / 0.05);
  max-height: calc(100vh - 24px);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .25) transparent;
  height: 100vh;
  max-height: calc(100vh - 105px);

  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(240, 240, 240, 0.95) 40%,
      rgba(220, 220, 220, 0.85) 70%,
      rgba(200, 200, 200, 0.80) 100%);

  /* Soft vignette shadow on corners */
  box-shadow:
    inset 0 0 80px rgba(0, 0, 0, 0.08),
    inset 0 0 120px rgba(0, 0, 0, 0.06);

  /* Slight surface texture like your image */
  background-blend-mode: overlay;
  backdrop-filter: blur(0.5px);
  // box-shadow: inset 6px 0 70px -28px rgba(0, 0, 0, 0.35), inset -50px 61px 98px -28px rgba(0, 0, 0, 0.35);
  // border-left: 40px solid #959595;
  // border-right: 40px solid #959595;
  // box-shadow:
  //   inset rgba(0, 0, 0, 0.10) 0px 0px 0px 8px,
  //   // inset rgba(0, 0, 0, 0.15) 0px 0px 0px 16px,
  //   inset rgba(0, 0, 0, 0.20) 0px 0px 0px 24px,
  //   // inset rgba(0, 0, 0, 0.26) 0px 0px 0px 32px,
  //   inset rgba(0, 0, 0, 0.32) 0px 0px 0px 40px;



}

.panel::-webkit-scrollbar {
  width: 10px;
}

.panel::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .15);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.panel::-webkit-scrollbar-track {
  background: transparent;
}

/* Subtle grid */
.panel .grid {
  position: absolute;
  inset: 0;

  // background: //give the bakground lines
  //   linear-gradient(90deg, rgba(0,0,0,0.04) 1px, transparent 1px) 0 0 / 10px 10px,
  //   linear-gradient(0deg,  rgba(0,0,0,0.03) 1px, transparent 1px) 0 0 / 10px 10px;
  pointer-events: none;
  //height: 100vh;

}

.box-shadow {
  // /box-shadow: 0 6px 20px rgb(0 0 0 /0.2);
  filter: drop-shadow(0 6px 10px rgb(0 0 0 /0.5));

}

.wires {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;

}

/* Rail is a single centered line (0-height with border-top) */
.rail {
  position: absolute;
  // height: 200px;
  //background-color: red;
  // left: 0; /* actual left is set via [ngStyle] -> getRailLeft() */
  // border-top: 3px solid #4b5563; /* slate-600 */
  transition: filter .15s ease, box-shadow .15s ease;

  .rail-image {
    position: absolute;
    left: -146px;
    top: -121px;

  }

}

// .rail.highlight {
//   filter: drop-shadow(0 0 0.6rem rgba(15,162,217,.35));
// }
// .rail.highlight::before {
//   content: "";
//   position: absolute;
//   left: -8px;
//   right: -8px;
//   top: -3px;
//   height: 6px;
//   background: rgba(15,162,217,.18);
//   border-radius: 6px;
//   pointer-events: none;
// }

.rail-title {
  position: absolute;
  right: 6px;
  top: -18px;
  /* above the line */
  font-size: 12px;
  color: #6b7280;
  background: #fff;
  padding: 2px 6px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

/* Parts */
.part {
  position: absolute;
  //background: #fff;
  //border: 1px solid #d1d5db;
  border-radius: 12px;
  //box-shadow: 0 2px 8px rgb(0 0 0 / 0.06);
  //box-shadow: 0 6px 20px rgb(0 0 0 /0.2);
  cursor: grab;
  user-select: none;
  z-index: 3;
  transition: box-shadow .15s ease, transform .15s ease, border-color .2s ease, background .2s ease;
}

.part:hover {
  //box-shadow: 0 8px 24px rgb(0 0 0 / 0.4);
  //background: rgba(15, 162, 217, .08);
  filter: drop-shadow(0px 7px 12px rgba(15, 177, 217, 0.25));
  //border-color: #cbd5e1;

  /* slate-300 */
}

.part.dragging {
  cursor: grabbing;
  transform: scale(1.03);
  //box-shadow: 0 12px 28px rgba(15,162,217,.30);
  //border-color: #0fa2d9;
  //background: linear-gradient(180deg, #ffffff, #f8fdff);
}

.part.locked {
  cursor: default;
}

.part-label {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #111827;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

/* Live drop preview */
.drop-preview {
  position: absolute;
  //border: 2px dashed #0fa2d9;
  //padding: 8px 10px;

  //background: rgba(15, 162, 217, .08);
  // background-color: red;
  border-radius: 12px;
  pointer-events: none;
  filter: drop-shadow(0px 7px 12px rgba(15, 177, 217, 0.25));
}

/* Connectors (tight to top/bottom edges, centered horizontally) */
.connector {
  position: absolute;
  border: 0;

  border-radius: 999px;
  background: #0fa2d9;
  /* Remove outside glow that might suggest it's "outside" */
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
  cursor: pointer;
  padding: 0;

}


.connector:hover {
  transform: scale(1.2);
  box-shadow: 0 0 0 4px rgba(15, 162, 217, .18);
}

.image-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.selected-connector {
  position: absolute;
  border: 0;
  border-radius: 999px;
  background:  rgb(245, 83, 83);
  /* Remove outside glow that might suggest it's "outside" */
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
  cursor: pointer;
  padding: 0;
}

.rule-connector {
  position: absolute;
  border: 0;
  border-radius: 999px;
  background: #acadad;
  /* Remove outside glow th at might suggest it's "outside" */
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset;
  cursor: pointer;
  padding: 0;
}

.rule-connector:disabled {
  opacity: .55;
  cursor: not-allowed;
}

/* If you want a visual cue for the disabled selector */
.toolbar select:disabled {
  opacity: .55;
  cursor: not-allowed;
}

/* Drag ghost that follows the cursor */
// .drag-ghost {
//   position: absolute;
//   z-index: 99999;
//   pointer-events: none;
//   width: var(--w, auto);
//   height: var(--h, auto);
//   border: 1px solid #cfefff;
//   border-radius: 12px;
//   background: linear-gradient(180deg, #ffffff, #f2fbff);
//   display: grid;
//   place-items: center;
//   color: #0b79a5;
//   font-weight: 700;
//   padding: 6px 10px;
//   transform: translate(-50%, -50%) scale(1.02);
//   box-shadow: 0 12px 30px rgba(0, 0, 0, .20), 0 0 0 2px rgba(15, 162, 217, .15) inset;
//   backdrop-filter: blur(2px);
// }

.drag-ghost span {
  pointer-events: none;
  mix-blend-mode: normal;
}

.wire-item {
  cursor: grab;
}

.right-sidebar {

  // position: sticky;
  // top: 20px;
  border: 1px solid #e5e7eb;
  //border-radius: 14px;
  padding: 12px;
  //background: linear-gradient(180deg, #ffffff, #fafafa);
  //box-shadow: 0 4px 14px rgb(0 0 0 / 0.04);
  /* NEW: define a sensible max height and make inner list scroll */
  height: 100vh;
  /* keeps within viewport */
  display: flex;
  flex-direction: column;
  //padding-left: 18px;
  padding-right: 18px;
  max-height: calc(100vh - 130px);
}

.right-sidebar-body {
  margin-top: 15px;
  // scrollbar-width: thin;
  // scrollbar-color: rgba(0, 0, 0, .25) transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;

  p {
    font-size: 13px;
  }

  /* room for scrollbar */
  /* Optional: a soft fade at the bottom/top can be added with :before/:after if desired */
}

/* Optional: nicer scrollbars (WebKit/Chromium) */
// .right-sidebar-body::-webkit-scrollbar {
//   width: 10px;
// }

// .right-sidebar-body::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, .15);
//   border-radius: 8px;
//   border: 2px solid transparent;
//   background-clip: content-box;
// }

// .right-sidebar-body::-webkit-scrollbar-track {
//   background: transparent;
// }

.right-sidebar-body-p1 {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.right-sidebar-body-p2 {
  height: 35%;
  display: flex;
  align-items: flex-end;
}


.mode-text-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    background: transparent;
    color: rgb(75, 75, 75);
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    //box-shadow: 0 2px 0 rgb(0 0 0 / 0.06);
    transition: transform .05s ease, box-shadow .2s ease, opacity .2s ease;
  }

  h3 {

    font-size: 14px;
  }
}

.rails-picker {
  //background-color: red;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  select {
    // margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(201, 201, 201);
  }

  .fixed-stats {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    color: grey;

    p {
      font-size: 12px;
    }

    //background-color: red;
    //font-size: small;
  }
}

.dynamic-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .stats-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(201, 201, 201);
    padding: 10px;
    border-radius: 16px;

    p {
      color: grey;
      font-size: 13px;
    }
  }
}

.mode-box {
  padding: 10px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 16px;
}

.mode-desc-container
{
  margin-top: 5px;
  p {
    font-size: 13px
  }
}


.mode-desc {
  line-height: 22px;
  color: grey;
}


.from-to-container
{
  display: flex;
  flex-direction: column;
  // gap: 10px;
  color: grey;
  p{
      font-size: 12px
  }

  .from-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 201, 201);
 
    padding:5px;
    border-radius: 16px;
    .red-color{
      color: rgb(245, 83, 83);
    }

    margin-bottom: 10px;
  }
  .to-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
    border-radius: 16px;
    .blue-color{
      color:#09a5dd;
    }
  }


}

.inactive {
  width: 100%;
  background: #f0f0f0;
  color: rgb(114, 114, 114);
  border-radius: 10px;
  border: 1px solid rgb(148, 148, 148);
  padding: 16px;
  font-weight: 600;
  cursor: pointer;
  //box-shadow: 0 2px 0 rgb(0 0 0 / 0.06);
  transition: transform .05s ease, box-shadow .2s ease, opacity .2s ease;
}

.active {
  width: 100%;
  background: #09a5dd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 16px;
  font-weight: 600;
  cursor: pointer;
  //box-shadow: 0 2px 0 rgb(0 0 0 / 0.06);
  transition: transform .05s ease, box-shadow .2s ease, opacity .2s ease;
}


.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}