        .container {
            font-family: Arial, sans-serif;
            font-size: 15px;
            color: #000;
            line-height: 1.3;
            // width: 750px;
            width: 100% !important;
            border: 2px solid #000;
            // margin: auto;
            display: flex;
            flex-direction: column;
        }
        /* Top Header */
        .top-header {
            text-align: center;
            border-bottom: 2px solid #000;
            padding: 5px;
        }
        .top-header h1 { margin: 0; font-size: 22px; }
        .top-header p { margin: 0; font-size: 16px; font-weight: bold; }

        /* Metadata Grid */
        .meta-grid {
            display: grid;
            grid-template-columns: 1.2fr 1.5fr 1fr 1.5fr 1fr;
            border-bottom: 2px solid #000;
            padding: 5px;
        }
        .meta-item label { display: block; font-weight: bold; }
        .blue-text { color: #0000FF; font-weight: bold; }

        /* Main Content Layout */
        .main-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-height: 700px;
        }
        .left-pane { border-right: 2px solid #000; }
        
        .section { padding: 10px; border-bottom: 1px solid #000; }
        .section:last-child { border-bottom: none; }
        
        h2 { font-size: 18px; margin: 0 0 10px 0; text-decoration: underline; }
        
        .data-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
        }
        .checkbox-row {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .box {
            width: 25px;
            height: 20px;
            border: 1px solid #000;
            margin-right: 10px;
        }

        /* Time Tracking Table */
        .time-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        .time-table th, .time-table td {
            border: 1px solid #000;
            height: 25px;
            text-align: center;
            font-size: 14px;
        }

        /* Footer */
        .footer {
            display: flex;
            border-top: 2px solid #000;
            // height: auto;
            color: green;
         
        }
        .logo-area { width: 35%; padding: 5px; border-right: 1px solid #000; }
        .logo-main { color: #e30613; font-weight: bold; font-size: 22px; font-style: italic; }
        .info-grid { display: grid; grid-template-columns: 1fr 1fr; width: 65%; font-size: 13px; }
        .info-cell { border: 0.5px solid #000; padding: 2px; }