:host {
  display: block;
  // font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  //font-family: Poppins;
  color: #1f2937;
  /* slate-800 */
}